openapi: 3.0.3
info:
  title: Maria Chat API
  version: "1.0.0"
  description: >
    API do backend do Maria Chat (atendimento jurídico da DPERJ).
    Grupos: webhook do WhatsApp, chat público, autenticação, painel admin
    (prefixo /admin, JWT), rotas internas do fluxo (/api/*, chamadas pelo engine)
    e mocks de teste (/mock/*). Rotas do painel exigem Bearer JWT; mutações
    exigem papel admin.
servers:
  - url: http://maria-chat-prod-alb-554264540.us-east-1.elb.amazonaws.com
    description: Produção (AWS ALB)
  - url: http://localhost:3000
    description: Local

tags:
  - name: Webhook
  - name: Chat
  - name: Auth
  - name: Admin — Flows
  - name: Admin — Conversations
  - name: Admin — Assistidos
  - name: Admin — Config/Users/Analytics/Audit
  - name: Interno (fluxo)
  - name: Mock
  - name: Infra

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Erro:
      type: object
      properties:
        erro: { type: string }
    LoginReq:
      type: object
      required: [email, senha]
      properties:
        email: { type: string, format: email }
        senha: { type: string }
    LoginResp:
      type: object
      properties:
        token: { type: string }
        user: { $ref: '#/components/schemas/User' }
    User:
      type: object
      properties:
        id: { type: string }
        email: { type: string }
        nome: { type: string }
        role: { type: string, enum: [admin, viewer] }
    ChatReq:
      type: object
      required: [sessionId]
      properties:
        sessionId: { type: string }
        message: { type: string }
    ChatResp:
      type: object
      properties:
        messages:
          type: array
          items:
            type: object
            properties:
              role: { type: string }
              content: {}
        lgpdAceito: { type: boolean }
    FlowNode:
      type: object
      required: [id, type, position, data]
      properties:
        id: { type: string, description: "Estável — mudar reseta o cache de reescrita" }
        type:
          type: string
          enum: [mensagem, pergunta, condicao, classificar, ia, api, subgrafo, subfluxo, atribuir, encerrar]
        position:
          type: object
          required: [x, y]
          properties:
            x: { type: number }
            y: { type: number }
        data:
          type: object
          additionalProperties: true
          description: "Campos por tipo de nó — ver docs/guia-frontend.md §2.2"
    FlowEdge:
      type: object
      required: [id, source, target]
      properties:
        id: { type: string }
        source: { type: string }
        target: { type: string }
        label: { type: string, description: "Valor esperado em condicao/classificar; '*' = default" }
    Flow:
      type: object
      required: [id, name, nodes, edges, active]
      properties:
        id: { type: string }
        name: { type: string }
        nodes: { type: array, items: { $ref: '#/components/schemas/FlowNode' } }
        edges: { type: array, items: { $ref: '#/components/schemas/FlowEdge' } }
        active: { type: boolean }
        isTemplate: { type: boolean, description: "catálogo de templates — card #20260127" }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    FlowVersionResumo:
      type: object
      required: [versao, name, criadoEm]
      properties:
        versao: { type: integer }
        name: { type: string }
        autor: { type: string, nullable: true, description: "email de quem salvou" }
        criadoEm: { type: string, format: date-time }
    FlowVersionCompleta:
      allOf:
        - $ref: '#/components/schemas/FlowVersionResumo'
        - type: object
          required: [id, flowId, nodes, edges]
          properties:
            id: { type: string }
            flowId: { type: string }
            nodes: { type: array, items: { $ref: '#/components/schemas/FlowNode' } }
            edges: { type: array, items: { $ref: '#/components/schemas/FlowEdge' } }
    ProcessosConsultaReq:
      type: object
      required: [cpf]
      properties:
        cpf: { type: string, description: "CPF só dígitos" }
    ProcessosConsultaResp:
      type: object
      properties:
        tem_processo: { type: boolean }
        processos:
          type: array
          items:
            type: object
            properties:
              numero: { type: string }
              assunto: { type: string }
              ativo: { type: boolean }
        lista: { type: string }
    ResumoReq:
      type: object
      properties:
        processo_sel: { type: string, description: "número completo ou índice (1,2,...)" }
        numero: { type: string }
        processos: { type: string, description: "JSON da consulta anterior (para mapear índice)" }
    ResumoResp:
      type: object
      properties:
        resumo: { type: string }
        numero: { type: string }
    CasosConsultaResp:
      type: object
      properties:
        tem_casos: { type: boolean }
        casos:
          type: array
          items:
            type: object
            properties:
              identificador: { type: string }
              tipo: { type: string }
        lista: { type: string }
    CpfReq:
      type: object
      required: [cpf]
      properties:
        cpf: { type: string }
    CasoDetalheReq:
      type: object
      properties:
        caso_sel: { type: string, description: "identificador completo ou índice (1,2,...)" }
        casos: { type: string, description: "JSON da consulta anterior (para mapear índice)" }
    CasoDetalheResp:
      type: object
      required: [encontrado]
      properties:
        encontrado: { type: boolean }
        identificador: { type: string }
        tipo: { type: string }
        status: { type: string }
        criadoEm: { type: string, format: date-time }
        assistido: { type: string }
    ConfigIA:
      type: object
      description: Configuração global da IA (singleton id=default)
      required: [estiloPrompt, conversacional]
      properties:
        estiloPrompt:
          type: string
          description: Preâmbulo de estilo aplicado a TODA fala da IA (vazio = usa o padrão)
        conversacional:
          type: boolean
          description: Liga/desliga a reescrita acolhedora das perguntas
        padrao:
          type: string
          description: Texto padrão do estilo (só no GET — alimenta o "restaurar padrão")
        id: { type: string }
        updatedAt: { type: string, format: date-time }
    ConversaResumo:
      type: object
      description: Item da listagem — select enxuto, SEM PII (LGPD)
      required: [id, sessionId, channel, status, startedAt, updatedAt]
      properties:
        id: { type: string }
        sessionId: { type: string }
        channel: { type: string, description: "whatsapp | web" }
        flowId: { type: string, nullable: true }
        status: { type: string, description: "active | completed | abandoned" }
        categoria: { type: string, nullable: true }
        ultimaEtapa: { type: string, nullable: true }
        protocoloDperj: { type: string, nullable: true }
        startedAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        completedAt: { type: string, format: date-time, nullable: true }
    ConversasPage:
      type: object
      required: [total, page, itens]
      properties:
        total: { type: integer }
        page: { type: integer }
        itens: { type: array, items: { $ref: '#/components/schemas/ConversaResumo' } }
    ConversaDetalhe:
      allOf:
        - $ref: '#/components/schemas/ConversaResumo'
        - type: object
          properties:
            dadosColetados: { type: object, additionalProperties: true }
            resumo: { type: string, nullable: true }
            metadados:
              type: object
              nullable: true
              additionalProperties: true
              description: "assistido dentro de metadados vem MASCARADO (LGPD); completo só via /revelar"
    HandoffItem:
      type: object
      required: [id, sessionId, channel, handoffStatus]
      properties:
        id: { type: string }
        sessionId: { type: string }
        channel: { type: string }
        categoria: { type: string, nullable: true }
        handoffStatus: { type: string, enum: [aguardando, em_atendimento] }
        handoffOperador: { type: string, nullable: true }
        handoffDesde: { type: string, format: date-time, nullable: true }
    HandoffPage:
      type: object
      required: [itens]
      properties:
        itens: { type: array, items: { $ref: '#/components/schemas/HandoffItem' } }
    MensagemHistorico:
      type: object
      required: [role, content]
      properties:
        role: { type: string, description: "human | ai" }
        content:
          description: "string ou array de content blocks (text, image_url, boolean, options, cta_url)"
    HistoricoResp:
      type: object
      required: [messages]
      properties:
        messages: { type: array, items: { $ref: '#/components/schemas/MensagemHistorico' } }
    Assistido:
      type: object
      description: "Nas listagens os campos de PII vêm MASCARADOS; completos só no detalhe (auditado) e no /revelar"
      required: [id, cpf, nome, situacao]
      properties:
        id: { type: string }
        cpf: { type: string }
        nome: { type: string }
        dataNascimento: { type: string, nullable: true }
        nomeMae: { type: string, nullable: true }
        situacao: { type: string }
        municipio: { type: string, nullable: true }
        uf: { type: string, nullable: true }
        telefone: { type: string, nullable: true }
        email: { type: string, nullable: true }
        cep: { type: string, nullable: true }
        bairro: { type: string, nullable: true }
        logradouro: { type: string, nullable: true }
        numero: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    AssistidosPage:
      type: object
      required: [total, page, itens]
      properties:
        total: { type: integer }
        page: { type: integer }
        itens: { type: array, items: { $ref: '#/components/schemas/Assistido' } }
    AnalyticsSummary:
      type: object
      required: [total, taxaConclusao, porStatus, porCategoria, porCanal, abandonoPorEtapa, serieDiaria]
      properties:
        total: { type: integer }
        taxaConclusao: { type: number, description: "0..1" }
        porStatus:
          type: array
          items: { type: object, required: [status, total], properties: { status: { type: string }, total: { type: integer } } }
        porCategoria:
          type: array
          items: { type: object, required: [categoria, total], properties: { categoria: { type: string }, total: { type: integer } } }
        porCanal:
          type: array
          items: { type: object, required: [canal, total], properties: { canal: { type: string }, total: { type: integer } } }
        abandonoPorEtapa:
          type: array
          items: { type: object, required: [etapa, total], properties: { etapa: { type: string }, total: { type: integer } } }
        serieDiaria:
          type: array
          description: "últimos 30 dias"
          items: { type: object, required: [dia, total, concluidas], properties: { dia: { type: string }, total: { type: integer }, concluidas: { type: integer } } }
    FunilPorNo:
      type: object
      required: [nodes]
      properties:
        nodes:
          type: array
          items: { type: object, required: [nodeId, total], properties: { nodeId: { type: string }, total: { type: integer } } }
    AuditLogItem:
      type: object
      required: [id, userId, userEmail, acao, alvoTipo, alvoId, criadoEm]
      properties:
        id: { type: string }
        userId: { type: string }
        userEmail: { type: string }
        acao: { type: string, description: "revelar" }
        alvoTipo: { type: string, description: "assistido | conversa" }
        alvoId: { type: string }
        criadoEm: { type: string, format: date-time }
    AuditPage:
      type: object
      required: [total, page, itens]
      properties:
        total: { type: integer }
        page: { type: integer }
        itens: { type: array, items: { $ref: '#/components/schemas/AuditLogItem' } }

security:
  - bearerAuth: []

paths:
  # ── Webhook ────────────────────────────────────────────────
  /webhook/whatsapp:
    get:
      tags: [Webhook]
      summary: Verificação do webhook (challenge da Meta)
      security: []
      parameters:
        - { in: query, name: "hub.mode", schema: { type: string } }
        - { in: query, name: "hub.verify_token", schema: { type: string } }
        - { in: query, name: "hub.challenge", schema: { type: string } }
      responses:
        "200": { description: Retorna o challenge }
        "403": { description: Token inválido }
    post:
      tags: [Webhook]
      summary: Recebe mensagens do WhatsApp (responde 200 imediato, processa async)
      security: []
      responses:
        "200": { description: Aceito }

  # ── Chat público ───────────────────────────────────────────
  /api/chat:
    post:
      tags: [Chat]
      summary: Envia mensagem (canal web)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ChatReq' }
      responses:
        "200":
          description: Respostas da Maria
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChatResp' }

  # ── Auth ───────────────────────────────────────────────────
  /auth/login:
    post:
      tags: [Auth]
      summary: Login (JWT 8h)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginReq' }
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginResp' }
        "401": { description: Credenciais inválidas }
  /auth/me:
    get:
      tags: [Auth]
      summary: Dados do usuário autenticado
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  # ── Admin: Upload ──────────────────────────────────────────
  /admin/upload:
    post:
      tags: [Admin — Flows]
      summary: Upload de imagem p/ os fluxos (admin) — re-encoda (remove EXIF) e grava no S3
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary, description: "jpeg/png/webp, máx 5MB" }
      responses:
        "200": { description: "{ url } — URL pública permanente (S3)" }
        "413": { description: Arquivo grande demais }
        "415": { description: Formato não suportado }

  # ── Admin: Flows ───────────────────────────────────────────
  /admin/flows:
    get:
      tags: [Admin — Flows]
      summary: Lista fluxos
      responses:
        "200":
          description: Lista (sem nodes/edges — resumo)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [id, name, active]
                  properties:
                    id: { type: string }
                    name: { type: string }
                    active: { type: boolean }
                    isTemplate: { type: boolean }
                    createdAt: { type: string, format: date-time }
                    updatedAt: { type: string, format: date-time }
    post:
      tags: [Admin — Flows]
      summary: Cria fluxo (admin)
      responses:
        "200":
          description: Criado
          content: { application/json: { schema: { $ref: '#/components/schemas/Flow' } } }
  /admin/flows/{id}:
    parameters: [{ in: path, name: id, required: true, schema: { type: string } }]
    get:
      tags: [Admin — Flows]
      summary: Detalha fluxo
      responses: { "200": { content: { application/json: { schema: { $ref: '#/components/schemas/Flow' } } } }, "404": { description: Não encontrado } }
    put:
      tags: [Admin — Flows]
      summary: Atualiza fluxo (admin) — lock otimista opcional
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                nodes: { type: array, items: { $ref: '#/components/schemas/FlowNode' } }
                edges: { type: array, items: { $ref: '#/components/schemas/FlowEdge' } }
                updatedAt:
                  type: string
                  format: date-time
                  description: >
                    Lock otimista (opcional): updatedAt carregado pelo cliente.
                    Se o fluxo mudou desde então, a API responde 409 — recarregue
                    antes de salvar. Omitido = save incondicional.
      responses:
        "200":
          description: Fluxo atualizado
          content: { application/json: { schema: { $ref: '#/components/schemas/Flow' } } }
        "404": { description: Não encontrado }
        "409":
          description: "Conflito: fluxo alterado por outro editor"
          content:
            application/json:
              schema:
                type: object
                required: [erro, updatedAt]
                properties:
                  erro: { type: string }
                  updatedAt: { type: string, format: date-time }
    delete:
      tags: [Admin — Flows]
      summary: Remove fluxo (admin)
      responses: { "200": { description: OK } }
  /admin/flows/{id}/versoes:
    get:
      tags: [Admin — Flows]
      summary: Histórico de versões do fluxo (snapshot a cada save)
      parameters: [{ in: path, name: id, required: true, schema: { type: string } }]
      responses:
        "200":
          description: Versões, mais recente primeiro
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/FlowVersionResumo' }
        "404": { description: Não encontrado }
  /admin/flows/{id}/versoes/{versao}:
    get:
      tags: [Admin — Flows]
      summary: Detalhe de uma versão (com nodes/edges, p/ preview)
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
        - { in: path, name: versao, required: true, schema: { type: integer } }
      responses:
        "200":
          description: Versão completa
          content: { application/json: { schema: { $ref: '#/components/schemas/FlowVersionCompleta' } } }
        "404": { description: Não encontrada }
  /admin/flows/{id}/versoes/{versao}/restaurar:
    post:
      tags: [Admin — Flows]
      summary: Restaura uma versão (admin) — estado atual vira nova versão antes (reversível)
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
        - { in: path, name: versao, required: true, schema: { type: integer } }
      responses:
        "200":
          description: Fluxo restaurado
          content: { application/json: { schema: { $ref: '#/components/schemas/Flow' } } }
        "404": { description: Não encontrada }
  /admin/flows/{id}/validar:
    get:
      tags: [Admin — Flows]
      summary: Valida fluxo (estrutura + compilação)
      parameters: [{ in: path, name: id, required: true, schema: { type: string } }]
      responses: { "200": { description: "{ ok, erros[] }" } }
  /admin/flows/{id}/activate:
    post:
      tags: [Admin — Flows]
      summary: Ativa fluxo (desativa os demais) (admin)
      parameters: [{ in: path, name: id, required: true, schema: { type: string } }]
      responses: { "200": { description: OK } }
  /admin/flows/{id}/deactivate:
    post:
      tags: [Admin — Flows]
      summary: Desativa fluxo (admin)
      parameters: [{ in: path, name: id, required: true, schema: { type: string } }]
      responses: { "200": { description: OK } }
  /admin/flows/{id}/marcar-template:
    post:
      tags: [Admin — Flows]
      summary: Marca fluxo como template do catálogo (admin) — metadado, não versiona
      parameters: [{ in: path, name: id, required: true, schema: { type: string } }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Flow' } } } }
        "404": { description: Não encontrado }
  /admin/flows/{id}/desmarcar-template:
    post:
      tags: [Admin — Flows]
      summary: Desmarca fluxo como template do catálogo (admin)
      parameters: [{ in: path, name: id, required: true, schema: { type: string } }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Flow' } } } }
        "404": { description: Não encontrado }

  # ── Admin: Conversations ───────────────────────────────────
  /admin/conversations:
    get:
      tags: [Admin — Conversations]
      summary: Lista conversas (filtros status/categoria/channel, paginado; itens SEM PII)
      parameters:
        - { in: query, name: status, schema: { type: string } }
        - { in: query, name: categoria, schema: { type: string } }
        - { in: query, name: channel, schema: { type: string } }
        - { in: query, name: page, schema: { type: integer } }
      responses:
        "200":
          description: Página de conversas (select enxuto, sem PII)
          content: { application/json: { schema: { $ref: '#/components/schemas/ConversasPage' } } }
  /admin/conversations/{sessionId}:
    get:
      tags: [Admin — Conversations]
      summary: Detalha conversa (assistido mascarado nos metadados)
      parameters: [{ in: path, name: sessionId, required: true, schema: { type: string } }]
      responses:
        "200":
          description: Conversa completa com PII mascarada
          content: { application/json: { schema: { $ref: '#/components/schemas/ConversaDetalhe' } } }
        "404": { description: Não encontrada }
  /admin/conversations/{sessionId}/historico:
    get:
      tags: [Admin — Conversations]
      summary: Histórico do chat (lê o checkpoint)
      parameters: [{ in: path, name: sessionId, required: true, schema: { type: string } }]
      responses:
        "200":
          description: Mensagens da conversa (content blocks)
          content: { application/json: { schema: { $ref: '#/components/schemas/HistoricoResp' } } }
  /admin/conversations/{sessionId}/revelar:
    post:
      tags: [Admin — Conversations]
      summary: Revela PII do assistido (admin, auditado)
      parameters: [{ in: path, name: sessionId, required: true, schema: { type: string } }]
      responses:
        "200":
          description: Dados completos do assistido (acesso registrado em auditoria)
          content:
            application/json:
              schema:
                type: object
                required: [assistido]
                properties:
                  assistido:
                    allOf: [{ $ref: '#/components/schemas/Assistido' }]
                    nullable: true

  # ── Admin: Handoff (atendente humano) ──────────────────────
  /admin/handoff:
    get:
      tags: [Admin — Handoff]
      summary: Lista conversas em handoff (aguardando ou em atendimento)
      parameters:
        - { in: query, name: status, schema: { type: string, enum: [aguardando, em_atendimento] } }
      responses:
        "200":
          description: Fila de handoff
          content: { application/json: { schema: { $ref: '#/components/schemas/HandoffPage' } } }
  /admin/handoff/{sessionId}/assumir:
    post:
      tags: [Admin — Handoff]
      summary: Operador assume a conversa (bot já está pausado)
      parameters: [{ in: path, name: sessionId, required: true, schema: { type: string } }]
      responses:
        "200": { description: OK }
        "404": { description: Não encontrada }
        "409": { description: "Conversa não está aguardando atendente" }
  /admin/handoff/{sessionId}/liberar:
    post:
      tags: [Admin — Handoff]
      summary: Libera a conversa de volta pro bot (retoma o grafo no próximo nó)
      parameters: [{ in: path, name: sessionId, required: true, schema: { type: string } }]
      responses:
        "200": { description: OK }
        "404": { description: Não encontrada }
        "409": { description: "Conversa não está em handoff" }
  /admin/handoff/{sessionId}/responder:
    post:
      tags: [Admin — Handoff]
      summary: Operador responde diretamente (fora do fluxo automático)
      parameters: [{ in: path, name: sessionId, required: true, schema: { type: string } }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message: { type: string }
      responses:
        "200": { description: OK }
        "400": { description: "message obrigatório" }
        "404": { description: Não encontrada }
        "409": { description: "Conversa não está em atendimento" }

  # ── Admin: Assistidos ──────────────────────────────────────
  /admin/assistidos:
    get:
      tags: [Admin — Assistidos]
      summary: Lista assistidos (mascarados; busca por cpf/nome)
      parameters:
        - { in: query, name: busca, schema: { type: string } }
        - { in: query, name: page, schema: { type: integer } }
      responses:
        "200":
          description: Página de assistidos com PII mascarada
          content: { application/json: { schema: { $ref: '#/components/schemas/AssistidosPage' } } }
    post:
      tags: [Admin — Assistidos]
      summary: Cria assistido (admin)
      responses:
        "200":
          description: Assistido criado
          content: { application/json: { schema: { $ref: '#/components/schemas/Assistido' } } }
  /admin/assistidos/{id}:
    parameters: [{ in: path, name: id, required: true, schema: { type: string } }]
    get:
      tags: [Admin — Assistidos]
      summary: Detalha assistido (admin, dados completos + auditoria)
      responses:
        "200":
          description: Dados completos (acesso auditado)
          content: { application/json: { schema: { $ref: '#/components/schemas/Assistido' } } }
        "404": { description: Não encontrado }
    put:
      tags: [Admin — Assistidos]
      summary: Atualiza assistido (admin)
      responses:
        "200":
          description: Assistido atualizado
          content: { application/json: { schema: { $ref: '#/components/schemas/Assistido' } } }
        "404": { description: Não encontrado }
    delete:
      tags: [Admin — Assistidos]
      summary: Remove assistido (admin)
      responses: { "200": { description: OK } }

  # ── Admin: Config/Users/Analytics/Audit ────────────────────
  /admin/config:
    get:
      tags: [Admin — Config/Users/Analytics/Audit]
      summary: Lê config global (estilo + conversacional)
      responses:
        "200":
          description: Config atual + texto padrão do estilo
          content: { application/json: { schema: { $ref: '#/components/schemas/ConfigIA' } } }
    put:
      tags: [Admin — Config/Users/Analytics/Audit]
      summary: Atualiza config global (admin) — invalida o cache de reescrita
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                estiloPrompt: { type: string }
                conversacional: { type: boolean }
      responses:
        "200":
          description: Config persistida
          content: { application/json: { schema: { $ref: '#/components/schemas/ConfigIA' } } }
  /admin/users:
    get:
      tags: [Admin — Config/Users/Analytics/Audit]
      summary: Lista usuários
      responses: { "200": { description: OK } }
    post:
      tags: [Admin — Config/Users/Analytics/Audit]
      summary: Cria usuário (admin)
      responses: { "200": { description: OK } }
  /admin/analytics/summary:
    get:
      tags: [Admin — Config/Users/Analytics/Audit]
      summary: Métricas agregadas
      responses:
        "200":
          description: Resumo analítico (30 dias na série diária)
          content: { application/json: { schema: { $ref: '#/components/schemas/AnalyticsSummary' } } }
  /admin/analytics/funil/{flowId}:
    get:
      tags: [Admin — Config/Users/Analytics/Audit]
      summary: Passagens acumuladas por nó de um fluxo (funil/drop-off)
      parameters: [{ in: path, name: flowId, required: true, schema: { type: string } }]
      responses:
        "200":
          description: Contagem por nó (front calcula % de abandono usando os edges do fluxo)
          content: { application/json: { schema: { $ref: '#/components/schemas/FunilPorNo' } } }
        "404": { description: Fluxo não encontrado }
  /admin/audit:
    get:
      tags: [Admin — Config/Users/Analytics/Audit]
      summary: Log de auditoria (admin) — quem revelou PII
      parameters: [{ in: query, name: page, schema: { type: integer } }]
      responses:
        "200":
          description: Página da trilha de auditoria
          content: { application/json: { schema: { $ref: '#/components/schemas/AuditPage' } } }
  /admin/test-chat:
    post:
      tags: [Admin — Config/Users/Analytics/Audit]
      summary: Chat de teste no painel (retorna resumo + metadados)
      responses: { "200": { description: OK } }

  # ── Interno (fluxo) — chamado pelo engine ──────────────────
  /api/assistidos/consultar:
    post:
      tags: [Interno (fluxo)]
      summary: Consulta assistido por CPF
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/CpfReq' } } } }
      responses: { "200": { description: "{ encontrado, assistido }" } }
  /api/assistidos/cadastrar:
    post:
      tags: [Interno (fluxo)]
      summary: Cadastra assistido
      security: []
      responses: { "200": { description: OK } }
  /api/assistidos/atualizar:
    post:
      tags: [Interno (fluxo)]
      summary: Atualiza assistido
      security: []
      responses: { "200": { description: OK } }
  /api/casos/consultar:
    post:
      tags: [Interno (fluxo)]
      summary: Casos em aberto do assistido (tabela Caso)
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/CpfReq' } } } }
      responses: { "200": { content: { application/json: { schema: { $ref: '#/components/schemas/CasosConsultaResp' } } } } }
  /api/casos/detalhe:
    post:
      tags: [Interno (fluxo)]
      summary: Detalhe de 1 caso (por identificador ou índice da lista anterior)
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/CasoDetalheReq' } } } }
      responses: { "200": { content: { application/json: { schema: { $ref: '#/components/schemas/CasoDetalheResp' } } } } }
  /api/processos/consultar:
    post:
      tags: [Interno (fluxo)]
      summary: Processos do assistido no PDPJ (por CPF)
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/ProcessosConsultaReq' } } } }
      responses: { "200": { content: { application/json: { schema: { $ref: '#/components/schemas/ProcessosConsultaResp' } } } } }
  /api/processos/resumo:
    post:
      tags: [Interno (fluxo)]
      summary: Resumo do status de um processo (IA, linguagem simples)
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/ResumoReq' } } } }
      responses: { "200": { content: { application/json: { schema: { $ref: '#/components/schemas/ResumoResp' } } } } }
  /api/ficha:
    post:
      tags: [Interno (fluxo)]
      summary: Gera imagem da ficha do assistido (S3, efêmera)
      security: []
      responses: { "200": { description: "{ url }" } }
  /api/kyc/iniciar:
    post:
      tags: [Interno (fluxo)]
      summary: Inicia KYC (gera link)
      security: []
      responses: { "200": { description: OK } }
  /api/kyc/captura:
    post:
      tags: [Interno (fluxo)]
      summary: Recebe selfie e verifica identidade
      security: []
      responses: { "200": { description: "{ confirmado, score }" } }
  /api/kyc/status:
    post:
      tags: [Interno (fluxo)]
      summary: Status do KYC
      security: []
      responses: { "200": { description: OK } }

  # ── Mock (teste) ───────────────────────────────────────────
  /mock/verificar-cpf:
    post: { tags: [Mock], security: [], summary: Mock consulta CPF, responses: { "200": { description: OK } } }
  /mock/cadastrar-usuario:
    post: { tags: [Mock], security: [], summary: Mock cadastro, responses: { "200": { description: OK } } }
  /mock/kyc:
    post: { tags: [Mock], security: [], summary: Mock reconhecimento facial, responses: { "200": { description: OK } } }
  /mock/agendamento:
    post: { tags: [Mock], security: [], summary: Mock agendamento, responses: { "200": { description: OK } } }
  /mock/processos:
    post: { tags: [Mock], security: [], summary: Mock processos por CPF (legado), responses: { "200": { description: OK } } }

  # ── Infra ──────────────────────────────────────────────────
  /health:
    get:
      tags: [Infra]
      summary: Healthcheck (db + token WhatsApp)
      security: []
      responses:
        "200": { description: "{ ok, db, whatsappToken }" }
        "503": { description: Degradado }
