openapi: 3.0.3
info:
  title: Maria Chat API
  version: "1.0.0"
  description: >
    API do backend do Maria Chat (atendimento jurídico da DPERJ).
    Grupos: webhook do WhatsApp, chat público, autenticação, painel admin
    (prefixo /admin, JWT), rotas internas do fluxo (/api/*, chamadas pelo engine)
    e mocks de teste (/mock/*). Rotas do painel exigem Bearer JWT; mutações
    exigem papel admin.
servers:
  - url: http://maria-chat-prod-alb-554264540.us-east-1.elb.amazonaws.com
    description: Produção (AWS ALB)
  - url: http://localhost:3000
    description: Local

tags:
  - name: Webhook
  - name: Chat
  - name: Auth
  - name: Admin — Flows
  - name: Admin — Conversations
  - name: Admin — Assistidos
  - name: Admin — Config/Users/Analytics/Audit
  - name: Interno (fluxo)
  - name: Mock
  - name: Infra

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Erro:
      type: object
      properties:
        erro: { type: string }
    LoginReq:
      type: object
      required: [email, senha]
      properties:
        email: { type: string, format: email }
        senha: { type: string }
    LoginResp:
      type: object
      properties:
        token: { type: string }
        user: { $ref: '#/components/schemas/User' }
    User:
      type: object
      properties:
        id: { type: string }
        email: { type: string }
        nome: { type: string }
        role: { type: string, enum: [admin, viewer] }
    ChatReq:
      type: object
      required: [sessionId]
      properties:
        sessionId: { type: string }
        message: { type: string }
    ChatResp:
      type: object
      properties:
        messages:
          type: array
          items:
            type: object
            properties:
              role: { type: string }
              content: {}
        lgpdAceito: { type: boolean }
    FlowNode:
      type: object
      required: [id, type, position, data]
      properties:
        id: { type: string, description: "Estável — mudar reseta o cache de reescrita" }
        type:
          type: string
          enum: [mensagem, pergunta, condicao, classificar, ia, api, subgrafo, subfluxo, atribuir, encerrar]
        position:
          type: object
          required: [x, y]
          properties:
            x: { type: number }
            y: { type: number }
        data:
          type: object
          additionalProperties: true
          description: "Campos por tipo de nó — ver docs/guia-frontend.md §2.2"
    FlowEdge:
      type: object
      required: [id, source, target]
      properties:
        id: { type: string }
        source: { type: string }
        target: { type: string }
        label: { type: string, description: "Valor esperado em condicao/classificar; '*' = default" }
    Flow:
      type: object
      required: [id, name, nodes, edges, active]
      properties:
        id: { type: string }
        name: { type: string }
        nodes: { type: array, items: { $ref: '#/components/schemas/FlowNode' } }
        edges: { type: array, items: { $ref: '#/components/schemas/FlowEdge' } }
        active: { type: boolean }
        isTemplate: { type: boolean, description: "catálogo de templates — card #20260127" }
        dadosTeste:
          type: object
          additionalProperties: { type: string }
          nullable: true
          description: "seed sugerido de dadosColetados p/ testar subfluxo isolado (issue #134) — metadado, não versiona"
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    FlowVersionResumo:
      type: object
      required: [versao, name, criadoEm]
      properties:
        versao: { type: integer }
        name: { type: string }
        autor: { type: string, nullable: true, description: "email de quem salvou" }
        criadoEm: { type: string, format: date-time }
    FlowVersionCompleta:
      allOf:
        - $ref: '#/components/schemas/FlowVersionResumo'
        - type: object
          required: [id, flowId, nodes, edges]
          properties:
            id: { type: string }
            flowId: { type: string }
            nodes: { type: array, items: { $ref: '#/components/schemas/FlowNode' } }
            edges: { type: array, items: { $ref: '#/components/schemas/FlowEdge' } }
    ProcessosConsultaReq:
      type: object
      required: [cpf]
      properties:
        cpf: { type: string, description: "CPF só dígitos" }
    ProcessosConsultaResp:
      type: object
      properties:
        tem_processo: { type: boolean }
        processos:
          type: array
          items:
            type: object
            properties:
              numero: { type: string }
              assunto: { type: string }
              ativo: { type: boolean }
        lista: { type: string }
    ResumoReq:
      type: object
      properties:
        processo_sel: { type: string, description: "número completo ou índice (1,2,...)" }
        numero: { type: string }
        processos: { type: string, description: "JSON da consulta anterior (para mapear índice)" }
    ResumoResp:
      type: object
      properties:
        resumo: { type: string }
        numero: { type: string }
    ProcessoExisteReq:
      type: object
      properties:
        numero: { type: string }
    ProcessoExisteResp:
      type: object
      required: [existe]
      properties:
        existe: { type: boolean, description: "true se o número de processo foi encontrado no PDPJ" }
    CasosConsultaReq:
      type: object
      properties:
        cpf: { type: string }
        pagina_marcador:
          type: string
          description: "string acumulada pelo fluxo (1 char por página já vista) — comprimento decide a página (card #20260202, paginação de 10 em 10). Omitido/vazio = página 1."
    CasosConsultaResp:
      type: object
      properties:
        tem_casos: { type: boolean }
        temMais: { type: boolean, description: "true se existem mais casos além dos 10 já retornados em `lista`" }
        casos:
          type: array
          description: "campos preservam os nomes originais do Verde (issue maria-ia#110)"
          items:
            type: object
            properties:
              id: { type: integer }
              status: { type: string }
              tipoCaso: { type: string }
              assunto:
                type: object
                nullable: true
                properties:
                  id: { type: integer }
                  nome: { type: string }
              numeroProcesso: { type: string, nullable: true }
              dataAtualizacao: { type: string, nullable: true }
              orgaosAssociados:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    nome: { type: string }
                    responsavel: { type: boolean }
              andamentos:
                type: array
                items:
                  type: object
                  properties:
                    titulo: { type: string }
                    descricao: { type: string }
                    data: { type: string }
        lista: { type: string }
    PessoaPresaConsultaResp:
      type: object
      required: [encontrado, situacao, nome, tipoPreso, regime, idPessoa, idSeap]
      properties:
        encontrado: { type: boolean }
        situacao: { type: string, description: "ATIVO | LIBERTADO | FORAGIDO | EGRESSO | EVADIDO | ... (\"nao_encontrado\" se não achou)" }
        nome: { type: string }
        tipoPreso: { type: string, description: "CONDENADO | SENTENCIADO | PROVISORIO | ..." }
        regime: { type: string }
        idPessoa: { type: string, description: "usado em GET /api/pessoa-presa/casos?idPessoaPresa=" }
        idSeap: { type: string, description: "usado em GET /api/pessoa-presa/orgao-responsavel(-liberto)?idSeap=" }
    PessoaPresaProcessoResp:
      type: object
      required: [encontrado, numero, origem, idProcesso]
      properties:
        encontrado: { type: boolean }
        numero: { type: string }
        origem: { type: string, description: "ex: SEEU" }
        idProcesso: { type: string }
    PessoaPresaCasosResp:
      type: object
      required: [tem_casos, status, casos, lista]
      properties:
        tem_casos: { type: boolean }
        status: { type: string, description: "\"ABERTO\" (literal, comparado pelo nó condicao) ou \"\" se não há caso aberto" }
        casos:
          type: array
          items:
            type: object
            properties:
              identificador: { type: string }
              tipo: { type: string }
        lista: { type: string }
    PessoaPresaOrgaoResp:
      type: object
      required: [status, orgao]
      properties:
        status: { type: string, description: "\"encontrado\" (literal, comparado pelo nó condicao) ou \"nao_encontrado\"" }
        orgao:
          type: object
          nullable: true
          properties:
            nome: { type: string }
            telefone: { type: string }
            endereco: { type: string }
    PlantaoOrgaoResp:
      type: object
      required: [status, orgao]
      properties:
        status: { type: string, description: "\"encontrado\" (literal, comparado pelo nó condicao) ou \"nao_encontrado\"" }
        orgao:
          type: object
          nullable: true
          properties:
            nome: { type: string }
            telefone: { type: string, nullable: true }
            endereco: { type: string, nullable: true }
            municipio: { type: string }
            tipo: { type: string, description: "REGIONAL | CAPITAL — nunca MUNICIPAL (a rota já filtra)" }
    RecessoResp:
      type: object
      required: [status]
      properties:
        status: { type: string, description: "\"SEM_RECESSO_VIGENTE\" ou \"RECESSO_VIGENTE\" (literais, comparados pelo nó condicao)" }
        mensagem: { type: string, nullable: true, description: "mensagem pro assistido quando em recesso" }
    CpfReq:
      type: object
      required: [cpf]
      properties:
        cpf: { type: string }
    ElegibilidadeReq:
      type: object
      properties:
        telefone_whatsapp: { type: string, description: "wa_id cru (E.164 sem +), injetado automaticamente no invoke inicial — ver chat.ts" }
        cpf: { type: string }
    ElegibilidadeResp:
      type: object
      required: [decisao]
      properties:
        decisao: { type: string, description: "\"ok\" (segue normal) ou \"perguntar\" (fluxo pergunta residência/processo direto)" }
    TemCasoAbertoResp:
      type: object
      required: [tem_caso]
      properties:
        tem_caso: { type: boolean, description: "true se o CPF tem caso/processo aberto no Verde (prova RJ na prática)" }
    TemPendenciaAbertoResp:
      type: object
      required: [tem_pendencia]
      properties:
        tem_pendencia: { type: boolean, description: "true se o CPF tem caso OU agendamento em aberto no Verde (prova RJ na prática) — 1º passo da hierarquia do gate" }
    ResideRjFichaReq:
      type: object
      properties:
        uf: { type: string, description: "resultado_cpf.dados.uf (ficha do Verde)" }
        telefone: { type: string, description: "resultado_cpf.dados.telefone (ficha do Verde) — formato não garantido, DDD extraído de forma defensiva" }
    ResideRjFichaResp:
      type: object
      required: [reside_rj]
      properties:
        reside_rj: { type: boolean, description: "true se UF da ficha é RJ ou DDD do telefone da ficha é do RJ (21/22/24)" }
    CampoPreenchidoReq:
      type: object
      properties:
        valor: { type: string, description: "valor a checar (ex: UF da ficha, promovida pra chave flat antes)" }
    CampoPreenchidoResp:
      type: object
      required: [preenchido]
      properties:
        preenchido: { type: boolean, description: "true se valor não está vazio" }
    CasoDetalheReq:
      type: object
      properties:
        caso_sel: { type: string, description: "id completo ou índice (1,2,...)" }
        casos: { type: string, description: "JSON da consulta anterior (para mapear índice, resolve sem re-fetch)" }
    CasoDetalheResp:
      type: object
      required: [encontrado]
      properties:
        encontrado: { type: boolean }
        id: { type: integer }
        status: { type: string }
        tipoCaso: { type: string }
        assunto:
          type: object
          nullable: true
          properties:
            id: { type: integer }
            nome: { type: string }
        orgaosAssociados:
          type: array
          items:
            type: object
            properties:
              id: { type: integer }
              nome: { type: string }
              responsavel: { type: boolean }
        andamentos:
          type: array
          description: "só o mais recente (índice 0), não o histórico completo"
          items:
            type: object
            properties:
              titulo: { type: string }
              descricao: { type: string }
              data: { type: string }
        numeroProcesso: { type: string, nullable: true }
        processo:
          type: object
          nullable: true
          description: "junta GET /api/processo/{numero} quando há numeroProcesso — mesmo formato dessa rota, sem remapear"
        temProcesso: { type: string, description: "\"true\"/\"false\" — flag auxiliar pro fluxo rotear (condicao só faz match exato)" }
    AgendamentosConsultaResp:
      type: object
      properties:
        tem_agendamentos: { type: boolean }
        agendamentos:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              tipo: { type: string }
              data: { type: string, format: date-time }
              local: { type: string, nullable: true }
        lista: { type: string, description: "texto formatado, 1 linha por agendamento" }
    AgendamentoDetalheReq:
      type: object
      properties:
        agendamento_sel: { type: string, description: "id completo ou índice (1,2,...)" }
        agendamentos: { type: string, description: "JSON da consulta anterior (para mapear índice)" }
    AgendamentoDetalheResp:
      type: object
      required: [encontrado]
      properties:
        encontrado: { type: boolean }
        id: { type: string }
        tipo: { type: string }
        data: { type: string, format: date-time }
        local: { type: string, nullable: true }
        status: { type: string }
        assistido: { type: string }
    AgendamentoDetalheRicoReq:
      type: object
      required: [idEvento]
      properties:
        idEvento: { type: string }
    AgendamentoDetalheRicoResp:
      type: object
      required: [encontrado]
      description: "campos preservam os nomes originais do Verde (issue maria-ia#111, gateway#21)"
      properties:
        encontrado: { type: boolean }
        idEvento: { type: integer }
        idAssistido: { type: integer }
        idOrgao: { type: integer }
        idCaso: { type: integer, nullable: true }
        nomeAssistido: { type: string }
        nomeOrgao: { type: string }
        endereco: { type: string }
        data: { type: string }
        horario: { type: string }
        documentosNecessarios: { type: string, nullable: true }
        nomeAssunto: { type: string, nullable: true }
    AgendamentoVagasReq:
      type: object
      required: [idEvento]
      properties:
        idEvento: { type: string }
    AgendamentoVagasResp:
      type: object
      properties:
        tem_vagas: { type: boolean }
        vagas:
          type: array
          items:
            type: object
            properties:
              idIntervalo: { type: integer }
              data: { type: string }
              hora: { type: string }
        lista: { type: string, description: "texto formatado, 1 linha por vaga" }
    AgendamentoVagaDetalheReq:
      type: object
      properties:
        vaga_sel: { type: string, description: "índice (1,2,...) da lista de vagas anterior" }
        vagas: { type: string, description: "JSON da consulta de vagas anterior (resolve sem re-fetch)" }
    AgendamentoVagaDetalheResp:
      type: object
      required: [encontrada]
      properties:
        encontrada: { type: boolean }
        idIntervalo: { type: integer }
        data: { type: string }
        hora: { type: string }
    AgendamentoReagendarReq:
      type: object
      required: [idAgendamento, configuracaoIntervaloAgenda, dataNova]
      properties:
        idAgendamento: { type: string }
        configuracaoIntervaloAgenda: { type: string, description: "idIntervalo da vaga escolhida" }
        dataNova: { type: string }
        horaNova: { type: string, description: "combinada com dataNova antes de enviar ao Verde (\"DD/MM/YYYY HH:mm\")" }
    AgendamentoReagendarResp:
      type: object
      required: [sucesso]
      properties:
        sucesso: { type: boolean }
    AgendamentoDesmarcarReq:
      type: object
      required: [idAgendamento, idPessoa]
      properties:
        idAgendamento: { type: string }
        idPessoa: { type: string }
    AgendamentoDesmarcarResp:
      type: object
      required: [sucesso]
      properties:
        sucesso: { type: boolean }
        emailEnviado: { type: boolean, description: "204 do Verde (true) vs 200 sucesso parcial (false, e-mail falhou)" }
    VerificarDuplicadosReq:
      type: object
      required: [idPessoa, idAssunto]
      properties:
        idPessoa: { type: integer }
        idAssunto: { type: integer }
    VerificarDuplicadosResp:
      type: object
      required: [tem_duplicado]
      properties:
        tem_duplicado: { type: boolean }
        idAgendamentoDuplicado: { type: integer, nullable: true }
        dataDuplicado: { type: string, nullable: true }
    AgendarReq:
      type: object
      required: [idPessoa, idOrgao, idAssunto, idIntervalo, dataVaga]
      properties:
        idPessoa: { type: integer }
        idOrgao: { type: integer }
        idAssunto: { type: integer }
        idIntervalo: { type: integer, description: "vindo de orgao/primeiro-atendimento (primeira_vaga_intervalo) ou agendamentos/vagas" }
        dataVaga: { type: string, description: "\"DD/MM/YYYY HH:mm\"" }
        resumoAtendimento: { type: string }
        textoComplemento: { type: string }
    AgendarResp:
      type: object
      required: [sucesso]
      properties:
        sucesso: { type: boolean }
        idAgendamento: { type: integer, nullable: true }
    OrgaoPrimeiroAtendimentoReq:
      type: object
      required: [idPessoa, idAssunto]
      properties:
        idPessoa: { type: integer }
        idAssunto: { type: integer }
        complemento: { type: string }
    OrgaoPrimeiroAtendimentoResp:
      type: object
      required: [tem_orgao]
      properties:
        tem_orgao: { type: boolean }
        orgao_id: { type: integer }
        orgao_nome: { type: string }
        tipo_atendimento: { type: string, description: "\"agendamento\" | \"encaminhamento\" | \"outros\" — normalizado do tipoAtendimento bruto do Verde" }
        idLocalAtendimento: { type: integer, nullable: true }
        primeira_vaga_intervalo: { type: integer, nullable: true }
        primeira_vaga_data: { type: string, nullable: true }
        primeira_vaga_hora: { type: string, nullable: true }
    BloqueioVerificarReq:
      type: object
      required: [idPessoa, idAssunto, idOrgao]
      properties:
        idPessoa: { type: integer }
        idAssunto: { type: integer }
        idOrgao: { type: integer }
    BloqueioVerificarResp:
      type: object
      required: [tem_bloqueio]
      properties:
        tem_bloqueio: { type: boolean }
        data_bloqueio: { type: string, nullable: true }
        data_desbloqueio: { type: string, nullable: true }
    EncaminharReq:
      type: object
      required: [idPessoa, idOrgao, idAssunto, preferenciaAtendimento]
      properties:
        idPessoa: { type: integer }
        idOrgao: { type: integer }
        idAssunto: { type: integer }
        urgencia: { type: boolean }
        preferenciaAtendimento: { type: string, description: "\"Remoto\" | \"Presencial\"" }
        idLocalAtendimento: { type: integer, description: "obrigatório quando Presencial" }
        textoComplemento: { type: string }
    EncaminharResp:
      type: object
      required: [sucesso]
      properties:
        sucesso: { type: boolean }
        idEncaminhamento: { type: integer, nullable: true }
    ConsultarItemArvoreReq:
      type: object
      properties:
        idCategoria: { type: integer, description: "só na 1ª chamada" }
        idItemCategoria: { type: integer, description: "resposta escolhida no nível anterior" }
    ConsultarItemArvoreResp:
      type: object
      required: [assunto_encontrado]
      properties:
        assunto_encontrado: { type: boolean }
        idAssunto: { type: integer, nullable: true }
        pergunta: { type: string }
        respostas: { type: array, items: { type: object, properties: { id: { type: integer }, resposta: { type: string } } } }
        lista: { type: string, description: "respostas numeradas, pronta pra exibir" }
    ResolverEscolhaReq:
      type: object
      required: [escolha_sel, resultado_arvore]
      properties:
        escolha_sel: { type: string, description: "índice digitado (1, 2, ...) ou o texto da resposta" }
        resultado_arvore: { type: string, description: "JSON cru da resposta anterior de consultar-item-arvore (mesma chave de dadosColetados)" }
    ResolverEscolhaResp:
      type: object
      required: [encontrada]
      properties:
        encontrada: { type: boolean }
        idItemCategoria: { type: integer, nullable: true }
    AssuntoMetadadosResp:
      type: object
      required: [encontrado, urgente]
      properties:
        encontrado: { type: boolean }
        urgente: { type: boolean }
        documentos_necessarios:
          type: string
          nullable: true
          description: "txDocumentosNecessarios do Verde — texto pronto (markdown-like) pra exibir ao assistido. \"plantao\" do Verde é ignorado de propósito (fora de escopo, issue #132)."
    ConfigIA:
      type: object
      description: Configuração global da IA (singleton id=default)
      required: [estiloPrompt, conversacional]
      properties:
        estiloPrompt:
          type: string
          description: Preâmbulo de estilo aplicado a TODA fala da IA (vazio = usa o padrão)
        conversacional:
          type: boolean
          description: Liga/desliga a reescrita acolhedora das perguntas
        padrao:
          type: string
          description: Texto padrão do estilo (só no GET — alimenta o "restaurar padrão")
        horarioAtivo:
          type: boolean
          description: Liga/desliga o aviso automático de fora do expediente (issue #79)
        diasSemana:
          type: array
          description: Dias de expediente — 0=domingo...6=sábado
          items: { type: integer, minimum: 0, maximum: 6 }
        horaInicio:
          type: string
          description: Início do expediente, formato HH:mm (America/Sao_Paulo)
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
        horaFim:
          type: string
          description: Fim do expediente (exclusive), formato HH:mm — precisa ser maior que horaInicio (sem overnight)
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
        id: { type: string }
        updatedAt: { type: string, format: date-time }
    ConversaResumo:
      type: object
      description: Item da listagem — select enxuto, SEM PII (LGPD)
      required: [id, sessionId, channel, status, startedAt, updatedAt]
      properties:
        id: { type: string }
        sessionId: { type: string }
        channel: { type: string, description: "whatsapp | web" }
        flowId: { type: string, nullable: true }
        status: { type: string, description: "active | completed | abandoned" }
        categoria: { type: string, nullable: true }
        ultimaEtapa: { type: string, nullable: true }
        protocoloDperj: { type: string, nullable: true }
        tags: { type: array, items: { type: string }, description: "rótulos livres marcados pelo nó \"tag\" do fluxo (card #20260139)" }
        startedAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        completedAt: { type: string, format: date-time, nullable: true }
    ConversasPage:
      type: object
      required: [total, page, itens]
      properties:
        total: { type: integer }
        page: { type: integer }
        itens: { type: array, items: { $ref: '#/components/schemas/ConversaResumo' } }
    ConversaDetalhe:
      allOf:
        - $ref: '#/components/schemas/ConversaResumo'
        - type: object
          properties:
            dadosColetados: { type: object, additionalProperties: true }
            resumo: { type: string, nullable: true }
            metadados:
              type: object
              nullable: true
              additionalProperties: true
              description: "assistido dentro de metadados vem MASCARADO (LGPD); completo só via /revelar"
    HandoffItem:
      type: object
      required: [id, sessionId, channel, handoffStatus]
      properties:
        id: { type: string }
        sessionId: { type: string }
        channel: { type: string }
        categoria: { type: string, nullable: true }
        handoffStatus: { type: string, enum: [aguardando, em_atendimento] }
        handoffOperador: { type: string, nullable: true }
        handoffDesde: { type: string, format: date-time, nullable: true }
    HandoffPage:
      type: object
      required: [itens]
      properties:
        itens: { type: array, items: { $ref: '#/components/schemas/HandoffItem' } }
    MensagemHistorico:
      type: object
      required: [role, content]
      properties:
        role: { type: string, description: "human | ai" }
        content:
          description: "string ou array de content blocks (text, image_url, boolean, options, cta_url)"
    HistoricoResp:
      type: object
      required: [messages]
      properties:
        messages: { type: array, items: { $ref: '#/components/schemas/MensagemHistorico' } }
    Assistido:
      type: object
      description: "Nas listagens os campos de PII vêm MASCARADOS; completos só no detalhe (auditado) e no /revelar"
      required: [id, cpf, nome, situacao]
      properties:
        id: { type: string }
        cpf: { type: string }
        nome: { type: string }
        dataNascimento: { type: string, nullable: true }
        nomeMae: { type: string, nullable: true }
        situacao: { type: string }
        municipio: { type: string, nullable: true }
        uf: { type: string, nullable: true }
        telefone: { type: string, nullable: true }
        email: { type: string, nullable: true }
        cep: { type: string, nullable: true }
        bairro: { type: string, nullable: true }
        logradouro: { type: string, nullable: true }
        numero: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    AssistidosPage:
      type: object
      required: [total, page, itens]
      properties:
        total: { type: integer }
        page: { type: integer }
        itens: { type: array, items: { $ref: '#/components/schemas/Assistido' } }
    AnalyticsSummary:
      type: object
      required: [total, taxaConclusao, porStatus, porCategoria, porCanal, abandonoPorEtapa, serieDiaria, mediaCsat, csatPorCategoria, csatPorFluxo]
      properties:
        total: { type: integer }
        taxaConclusao: { type: number, description: "0..1" }
        porStatus:
          type: array
          items: { type: object, required: [status, total], properties: { status: { type: string }, total: { type: integer } } }
        porCategoria:
          type: array
          items: { type: object, required: [categoria, total], properties: { categoria: { type: string }, total: { type: integer } } }
        porCanal:
          type: array
          items: { type: object, required: [canal, total], properties: { canal: { type: string }, total: { type: integer } } }
        abandonoPorEtapa:
          type: array
          items: { type: object, required: [etapa, total], properties: { etapa: { type: string }, total: { type: integer } } }
        serieDiaria:
          type: array
          description: "últimos 30 dias"
          items: { type: object, required: [dia, total, concluidas], properties: { dia: { type: string }, total: { type: integer }, concluidas: { type: integer } } }
        mediaCsat:
          type: number
          nullable: true
          description: "média geral da nota de satisfação (1-5); null se nenhuma conversa tem nota ainda"
        csatPorCategoria:
          type: array
          items: { type: object, required: [categoria, media], properties: { categoria: { type: string }, media: { type: number } } }
        csatPorFluxo:
          type: array
          items: { type: object, required: [flowId, media], properties: { flowId: { type: string }, media: { type: number } } }
    FunilPorNo:
      type: object
      required: [nodes]
      properties:
        nodes:
          type: array
          items: { type: object, required: [nodeId, total], properties: { nodeId: { type: string }, total: { type: integer } } }
    AuditLogItem:
      type: object
      required: [id, userId, userEmail, acao, alvoTipo, alvoId, criadoEm]
      properties:
        id: { type: string }
        userId: { type: string }
        userEmail: { type: string }
        acao: { type: string, description: "revelar" }
        alvoTipo: { type: string, description: "assistido | conversa" }
        alvoId: { type: string }
        criadoEm: { type: string, format: date-time }
    AuditPage:
      type: object
      required: [total, page, itens]
      properties:
        total: { type: integer }
        page: { type: integer }
        itens: { type: array, items: { $ref: '#/components/schemas/AuditLogItem' } }

security:
  - bearerAuth: []

paths:
  # ── Webhook ────────────────────────────────────────────────
  /webhook/whatsapp:
    get:
      tags: [Webhook]
      summary: Verificação do webhook (challenge da Meta)
      security: []
      parameters:
        - { in: query, name: "hub.mode", schema: { type: string } }
        - { in: query, name: "hub.verify_token", schema: { type: string } }
        - { in: query, name: "hub.challenge", schema: { type: string } }
      responses:
        "200": { description: Retorna o challenge }
        "403": { description: Token inválido }
    post:
      tags: [Webhook]
      summary: Recebe mensagens do WhatsApp (responde 200 imediato, processa async)
      security: []
      responses:
        "200": { description: Aceito }

  # ── Chat público ───────────────────────────────────────────
  /api/chat:
    post:
      tags: [Chat]
      summary: Envia mensagem (canal web)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ChatReq' }
      responses:
        "200":
          description: Respostas da Maria
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChatResp' }

  # ── Auth ───────────────────────────────────────────────────
  /auth/login:
    post:
      tags: [Auth]
      summary: Login (JWT 8h)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginReq' }
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginResp' }
        "401": { description: Credenciais inválidas }
  /auth/me:
    get:
      tags: [Auth]
      summary: Dados do usuário autenticado
      responses:
        "200":
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  # ── Admin: Upload ──────────────────────────────────────────
  /admin/upload:
    post:
      tags: [Admin — Flows]
      summary: Upload de imagem p/ os fluxos (admin) — re-encoda (remove EXIF) e grava no S3
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary, description: "jpeg/png/webp, máx 5MB" }
      responses:
        "200": { description: "{ url } — URL pública permanente (S3)" }
        "413": { description: Arquivo grande demais }
        "415": { description: Formato não suportado }

  # ── Admin: Flows ───────────────────────────────────────────
  /admin/flows:
    get:
      tags: [Admin — Flows]
      summary: Lista fluxos
      responses:
        "200":
          description: Lista (sem nodes/edges — resumo)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [id, name, active]
                  properties:
                    id: { type: string }
                    name: { type: string }
                    active: { type: boolean }
                    isTemplate: { type: boolean }
                    createdAt: { type: string, format: date-time }
                    updatedAt: { type: string, format: date-time }
    post:
      tags: [Admin — Flows]
      summary: Cria fluxo (admin)
      responses:
        "200":
          description: Criado
          content: { application/json: { schema: { $ref: '#/components/schemas/Flow' } } }
        "400":
          description: name obrigatório
          content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } }
  /admin/flows/{id}:
    parameters: [{ in: path, name: id, required: true, schema: { type: string } }]
    get:
      tags: [Admin — Flows]
      summary: Detalha fluxo
      responses: { "200": { content: { application/json: { schema: { $ref: '#/components/schemas/Flow' } } } }, "404": { description: Não encontrado } }
    put:
      tags: [Admin — Flows]
      summary: Atualiza fluxo (admin) — lock otimista opcional
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                nodes: { type: array, items: { $ref: '#/components/schemas/FlowNode' } }
                edges: { type: array, items: { $ref: '#/components/schemas/FlowEdge' } }
                updatedAt:
                  type: string
                  format: date-time
                  description: >
                    Lock otimista (opcional): updatedAt carregado pelo cliente.
                    Se o fluxo mudou desde então, a API responde 409 — recarregue
                    antes de salvar. Omitido = save incondicional.
      responses:
        "200":
          description: Fluxo atualizado
          content: { application/json: { schema: { $ref: '#/components/schemas/Flow' } } }
        "404": { description: Não encontrado }
        "409":
          description: "Conflito: fluxo alterado por outro editor"
          content:
            application/json:
              schema:
                type: object
                required: [erro, updatedAt]
                properties:
                  erro: { type: string }
                  updatedAt: { type: string, format: date-time }
    delete:
      tags: [Admin — Flows]
      summary: Remove fluxo (admin)
      responses:
        "200": { description: OK }
        "404": { description: Não encontrado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /admin/flows/{id}/versoes:
    get:
      tags: [Admin — Flows]
      summary: Histórico de versões do fluxo (snapshot a cada save)
      parameters: [{ in: path, name: id, required: true, schema: { type: string } }]
      responses:
        "200":
          description: Versões, mais recente primeiro
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/FlowVersionResumo' }
        "404": { description: Não encontrado }
  /admin/flows/{id}/versoes/{versao}:
    get:
      tags: [Admin — Flows]
      summary: Detalhe de uma versão (com nodes/edges, p/ preview)
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
        - { in: path, name: versao, required: true, schema: { type: integer } }
      responses:
        "200":
          description: Versão completa
          content: { application/json: { schema: { $ref: '#/components/schemas/FlowVersionCompleta' } } }
        "404": { description: Não encontrada }
  /admin/flows/{id}/versoes/{versao}/restaurar:
    post:
      tags: [Admin — Flows]
      summary: Restaura uma versão (admin) — estado atual vira nova versão antes (reversível)
      parameters:
        - { in: path, name: id, required: true, schema: { type: string } }
        - { in: path, name: versao, required: true, schema: { type: integer } }
      responses:
        "200":
          description: Fluxo restaurado
          content: { application/json: { schema: { $ref: '#/components/schemas/Flow' } } }
        "404": { description: Não encontrada }
  /admin/flows/{id}/validar:
    get:
      tags: [Admin — Flows]
      summary: Valida fluxo (estrutura + compilação)
      parameters: [{ in: path, name: id, required: true, schema: { type: string } }]
      responses:
        "200": { description: "{ ok, erros[] }" }
        "404": { description: Não encontrado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /admin/flows/{id}/activate:
    post:
      tags: [Admin — Flows]
      summary: Ativa fluxo (desativa os demais) (admin)
      parameters: [{ in: path, name: id, required: true, schema: { type: string } }]
      responses:
        "200": { description: OK }
        "404": { description: Não encontrado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /admin/flows/{id}/deactivate:
    post:
      tags: [Admin — Flows]
      summary: Desativa fluxo (admin)
      parameters: [{ in: path, name: id, required: true, schema: { type: string } }]
      responses:
        "200": { description: OK }
        "404": { description: Não encontrado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /admin/flows/{id}/marcar-template:
    post:
      tags: [Admin — Flows]
      summary: Marca fluxo como template do catálogo (admin) — metadado, não versiona
      parameters: [{ in: path, name: id, required: true, schema: { type: string } }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Flow' } } } }
        "404": { description: Não encontrado }
  /admin/flows/{id}/desmarcar-template:
    post:
      tags: [Admin — Flows]
      summary: Desmarca fluxo como template do catálogo (admin)
      parameters: [{ in: path, name: id, required: true, schema: { type: string } }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Flow' } } } }
        "404": { description: Não encontrado }
  /admin/flows/{id}/dados-teste:
    put:
      tags: [Admin — Flows]
      summary: Define o seed de dadosColetados usado pelo chat de teste (issue #134) — metadado, não versiona
      description: >
        Sem lock otimista por updatedAt e sem criar FlowVersion (mesmo
        raciocínio de marcar-template/desmarcar-template) — é um rascunho de
        teste, não conteúdo do fluxo. Usado por /admin/test-chat via
        dadosIniciais na 1ª chamada da sessão.
      parameters: [{ in: path, name: id, required: true, schema: { type: string } }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dadosTeste:
                  type: object
                  additionalProperties: { type: string }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Flow' } } } }
        "404": { description: Não encontrado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }

  # ── Admin: Conversations ───────────────────────────────────
  /admin/conversations:
    get:
      tags: [Admin — Conversations]
      summary: Lista conversas (filtros status/categoria/channel, paginado; itens SEM PII)
      parameters:
        - { in: query, name: status, schema: { type: string } }
        - { in: query, name: categoria, schema: { type: string } }
        - { in: query, name: channel, schema: { type: string } }
        - { in: query, name: page, schema: { type: integer } }
      responses:
        "200":
          description: Página de conversas (select enxuto, sem PII)
          content: { application/json: { schema: { $ref: '#/components/schemas/ConversasPage' } } }
  /admin/conversations/{sessionId}:
    get:
      tags: [Admin — Conversations]
      summary: Detalha conversa (assistido mascarado nos metadados)
      parameters: [{ in: path, name: sessionId, required: true, schema: { type: string } }]
      responses:
        "200":
          description: Conversa completa com PII mascarada
          content: { application/json: { schema: { $ref: '#/components/schemas/ConversaDetalhe' } } }
        "404": { description: Não encontrada }
  /admin/conversations/{sessionId}/historico:
    get:
      tags: [Admin — Conversations]
      summary: Histórico do chat (lê o checkpoint)
      parameters: [{ in: path, name: sessionId, required: true, schema: { type: string } }]
      responses:
        "200":
          description: Mensagens da conversa (content blocks)
          content: { application/json: { schema: { $ref: '#/components/schemas/HistoricoResp' } } }
  /admin/conversations/{sessionId}/revelar:
    post:
      tags: [Admin — Conversations]
      summary: Revela PII do assistido (admin, auditado)
      parameters: [{ in: path, name: sessionId, required: true, schema: { type: string } }]
      responses:
        "404":
          description: Conversa não encontrada
          content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } }
        "200":
          description: Dados completos do assistido (acesso registrado em auditoria)
          content:
            application/json:
              schema:
                type: object
                required: [assistido]
                properties:
                  assistido:
                    allOf: [{ $ref: '#/components/schemas/Assistido' }]
                    nullable: true

  # ── Admin: Handoff (atendente humano) ──────────────────────
  /admin/handoff:
    get:
      tags: [Admin — Handoff]
      summary: Lista conversas em handoff (aguardando ou em atendimento)
      parameters:
        - { in: query, name: status, schema: { type: string, enum: [aguardando, em_atendimento] } }
      responses:
        "200":
          description: Fila de handoff
          content: { application/json: { schema: { $ref: '#/components/schemas/HandoffPage' } } }
  /admin/handoff/{sessionId}/assumir:
    post:
      tags: [Admin — Handoff]
      summary: Operador assume a conversa (bot já está pausado)
      parameters: [{ in: path, name: sessionId, required: true, schema: { type: string } }]
      responses:
        "200": { description: OK }
        "404": { description: Não encontrada }
        "409": { description: "Conversa não está aguardando atendente" }
  /admin/handoff/{sessionId}/liberar:
    post:
      tags: [Admin — Handoff]
      summary: Libera a conversa de volta pro bot (retoma o grafo no próximo nó)
      parameters: [{ in: path, name: sessionId, required: true, schema: { type: string } }]
      responses:
        "200": { description: OK }
        "404": { description: Não encontrada }
        "409": { description: "Conversa não está em handoff" }
  /admin/handoff/{sessionId}/responder:
    post:
      tags: [Admin — Handoff]
      summary: Operador responde diretamente (fora do fluxo automático)
      parameters: [{ in: path, name: sessionId, required: true, schema: { type: string } }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message: { type: string }
      responses:
        "200": { description: OK }
        "400": { description: "message obrigatório" }
        "404": { description: Não encontrada }
        "409": { description: "Conversa não está em atendimento" }

  # ── Admin: Assistidos ──────────────────────────────────────
  /admin/assistidos:
    get:
      tags: [Admin — Assistidos]
      summary: Lista assistidos (mascarados; busca por cpf/nome)
      parameters:
        - { in: query, name: busca, schema: { type: string } }
        - { in: query, name: page, schema: { type: integer } }
      responses:
        "200":
          description: Página de assistidos com PII mascarada
          content: { application/json: { schema: { $ref: '#/components/schemas/AssistidosPage' } } }
    post:
      tags: [Admin — Assistidos]
      summary: Cria assistido (admin)
      responses:
        "200":
          description: Assistido criado
          content: { application/json: { schema: { $ref: '#/components/schemas/Assistido' } } }
        "400":
          description: cpf inválido (11 dígitos) ou nome obrigatório
          content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } }
        "409":
          description: CPF já cadastrado
          content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } }
  /admin/assistidos/{id}:
    parameters: [{ in: path, name: id, required: true, schema: { type: string } }]
    get:
      tags: [Admin — Assistidos]
      summary: Detalha assistido (admin, dados completos + auditoria)
      responses:
        "200":
          description: Dados completos (acesso auditado)
          content: { application/json: { schema: { $ref: '#/components/schemas/Assistido' } } }
        "404": { description: Não encontrado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
    put:
      tags: [Admin — Assistidos]
      summary: Atualiza assistido (admin)
      responses:
        "200":
          description: Assistido atualizado
          content: { application/json: { schema: { $ref: '#/components/schemas/Assistido' } } }
        "404": { description: Não encontrado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
    delete:
      tags: [Admin — Assistidos]
      summary: Remove assistido (admin)
      responses:
        "200": { description: OK }
        "404": { description: Não encontrado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }

  # ── Admin: Config/Users/Analytics/Audit ────────────────────
  /admin/config:
    get:
      tags: [Admin — Config/Users/Analytics/Audit]
      summary: Lê config global (estilo + conversacional)
      responses:
        "200":
          description: Config atual + texto padrão do estilo
          content: { application/json: { schema: { $ref: '#/components/schemas/ConfigIA' } } }
    put:
      tags: [Admin — Config/Users/Analytics/Audit]
      summary: Atualiza config global (admin) — invalida o cache de reescrita
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                estiloPrompt: { type: string }
                conversacional: { type: boolean }
                horarioAtivo: { type: boolean }
                diasSemana:
                  type: array
                  items: { type: integer, minimum: 0, maximum: 6 }
                horaInicio: { type: string, pattern: '^([01]\d|2[0-3]):[0-5]\d$' }
                horaFim: { type: string, pattern: '^([01]\d|2[0-3]):[0-5]\d$' }
      responses:
        "200":
          description: Config persistida
          content: { application/json: { schema: { $ref: '#/components/schemas/ConfigIA' } } }
        "400":
          description: horaInicio/horaFim malformado, janela invertida (horaFim <= horaInicio) ou diasSemana inválido — nada é persistido
          content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } }
  /admin/users:
    get:
      tags: [Admin — Config/Users/Analytics/Audit]
      summary: Lista usuários
      responses: { "200": { description: OK } }
    post:
      tags: [Admin — Config/Users/Analytics/Audit]
      summary: Cria usuário (admin)
      responses:
        "200": { description: OK }
        "400":
          description: email/senha obrigatórios ou role inválida
          content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } }
  /admin/analytics/summary:
    get:
      tags: [Admin — Config/Users/Analytics/Audit]
      summary: Métricas agregadas
      responses:
        "200":
          description: Resumo analítico (30 dias na série diária)
          content: { application/json: { schema: { $ref: '#/components/schemas/AnalyticsSummary' } } }
  /admin/analytics/funil/{flowId}:
    get:
      tags: [Admin — Config/Users/Analytics/Audit]
      summary: Passagens acumuladas por nó de um fluxo (funil/drop-off)
      parameters: [{ in: path, name: flowId, required: true, schema: { type: string } }]
      responses:
        "200":
          description: Contagem por nó (front calcula % de abandono usando os edges do fluxo)
          content: { application/json: { schema: { $ref: '#/components/schemas/FunilPorNo' } } }
        "404": { description: Fluxo não encontrado }
  /admin/audit:
    get:
      tags: [Admin — Config/Users/Analytics/Audit]
      summary: Log de auditoria (admin) — quem revelou PII
      parameters: [{ in: query, name: page, schema: { type: integer } }]
      responses:
        "200":
          description: Página da trilha de auditoria
          content: { application/json: { schema: { $ref: '#/components/schemas/AuditPage' } } }
  /admin/test-chat:
    post:
      tags: [Admin — Config/Users/Analytics/Audit]
      summary: Chat de teste no painel (retorna resumo + metadados)
      description: >
        Roda o grafo direto num checkpoint LangGraph de teste
        (thread_id: test:<flowId>:<sessionId>), sem criar Conversation.
        Resposta inclui tipoPerguntaPendente (cpf/telefone/cep/data/documento/
        email/sim_nao/opcoes/texto/null), resolvido contra o flow informado (ou o
        registro estático se flowId for omitido) — o painel usa esse campo pra
        decidir o widget de resposta (ex: upload em vez de texto livre).
        Também inclui trilha: lista ordenada dos ids de node do flow visitados
        na sessão (do primeiro até o nó atual/pausado) — atravessa subfluxos
        embutidos naturalmente (ids prefixados sf_<node>_<idOriginal>). Vazio
        quando flowId é omitido (grafo estático, sem canvas) ou após reiniciar
        a sessão (novo sessionId ou #sair). Alimenta o destaque da trajetória
        no canvas do builder visual.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [sessionId]
              properties:
                flowId: { type: string, description: "flow de teste (opcional — omitido usa o grafo estático)" }
                sessionId: { type: string }
                message: { type: string }
                dadosIniciais:
                  type: object
                  additionalProperties: { type: string }
                  description: >
                    Seed de dadosColetados (issue #134) — só tem efeito na 1ª
                    chamada da sessão (thread nova); testar subfluxo isolado
                    sem depender de nós anteriores do fluxo pai (idPessoa/
                    idAssunto/relato etc.). Pergunta com a mesma chave já
                    preenchida é pulada (skip-gate).
      responses:
        "200": { description: "{ messages, done, dadosColetados, tipoPerguntaPendente, trilha, resumo?, metadados? }" }
        "400": { description: sessionId obrigatório }
        "404": { description: Fluxo não encontrado }
        "422": { description: Flow inválido (falha ao compilar) }
  /admin/test-chat/upload:
    post:
      tags: [Admin — Config/Users/Analytics/Audit]
      summary: Upload de documento no chat de teste (issue #82) — equivalente admin de /api/upload-documento
      description: >
        Sem Conversation (chat de teste não cria uma) — auth é JWT admin
        (exigirAdmin), sem rate limit. Magic bytes decidem o mimetype real;
        avança o mesmo thread do chat de teste (test:<flowId>:<sessionId>) e
        devolve o mesmo shape de /admin/test-chat (incluindo trilha).
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required: [sessionId, file]
              properties:
                sessionId: { type: string, description: "sessionId da sessão de teste" }
                flowId: { type: string, description: "flow de teste (opcional — omitido usa o grafo estático)" }
                file: { type: string, format: binary, description: "jpeg/png/PDF, máx 10MB" }
      responses:
        "200": { description: "{ messages, done, dadosColetados, tipoPerguntaPendente, trilha }" }
        "400": { description: sessionId ou arquivo ausente }
        "404": { description: Fluxo não encontrado }
        "413": { description: Arquivo grande demais }
        "415": { description: "Tipo de arquivo não aceito (magic bytes)" }
        "422": { description: Flow inválido (falha ao compilar) }

  # ── Interno (fluxo) — chamado pelo engine ──────────────────
  /api/assistidos/consultar:
    post:
      tags: [Interno (fluxo)]
      summary: Consulta assistido por CPF
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/CpfReq' } } } }
      responses:
        "200": { description: "{ encontrado, assistido }" }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/assistidos/cadastrar:
    post:
      tags: [Interno (fluxo)]
      summary: Cadastra assistido
      security: []
      responses:
        "200": { description: OK }
        "400": { description: cpf inválido ou nome obrigatório, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/assistidos/atualizar:
    post:
      tags: [Interno (fluxo)]
      summary: Atualiza assistido
      security: []
      responses:
        "200": { description: OK }
        "400": { description: cpf inválido, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
        "404": { description: assistido não encontrado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/assistidos/campo-preenchido:
    post:
      tags: [Interno (fluxo)]
      summary: "Gate genérico 'esse campo tem valor?' — usado no gate de UF≠RJ pra distinguir UF real de outro estado (pula pra transbordo humano) de UF vazia (segue pro fluxo de perguntar residência)"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/CampoPreenchidoReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/CampoPreenchidoResp' } } } }
  /api/casos/consultar:
    post:
      tags: [Interno (fluxo)]
      summary: "Casos em aberto do assistido (tabela Caso) — paginado de 10 em 10 (card #20260202)"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/CasosConsultaReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/CasosConsultaResp' } } } }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/casos/detalhe:
    post:
      tags: [Interno (fluxo)]
      summary: Detalhe de 1 caso (por identificador ou índice da lista anterior)
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/CasoDetalheReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/CasoDetalheResp' } } } }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/elegibilidade/verificar:
    post:
      tags: [Interno (fluxo)]
      summary: "Gate de área de atuação (DDD RJ → UF cadastro Verde → caso/processo Verde → perguntar direto)"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/ElegibilidadeReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/ElegibilidadeResp' } } } }
  /api/elegibilidade/tem-caso-aberto:
    post:
      tags: [Interno (fluxo)]
      summary: "Checa isoladamente se o CPF tem caso/processo aberto no Verde (prova RJ) — usado no gate pós-ficha, sem re-checar DDD/UF"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/CpfReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/TemCasoAbertoResp' } } } }
  /api/elegibilidade/tem-pendencia-aberto:
    post:
      tags: [Interno (fluxo)]
      summary: "Caso OU agendamento em aberto no Verde — 1º passo da hierarquia do gate pós-ficha (card #20260202): pendência > processo real (PDPJ) > UF da ficha > pergunta direta"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/CpfReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/TemPendenciaAbertoResp' } } } }
  /api/elegibilidade/reside-rj-ficha:
    post:
      tags: [Interno (fluxo)]
      summary: "UF ou DDD do telefone já presentes na ficha do Verde (resultado_cpf) indicam RJ? — pula a pergunta elig_pergunta_reside quando true"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/ResideRjFichaReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/ResideRjFichaResp' } } } }
  /api/agendamentos/consultar:
    post:
      tags: [Interno (fluxo)]
      summary: Agendamentos em aberto do assistido (tabela Agendamento)
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/CpfReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/AgendamentosConsultaResp' } } } }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/agendamentos/detalhe:
    post:
      tags: [Interno (fluxo)]
      summary: Detalhe de 1 agendamento (por id ou índice da lista anterior)
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/AgendamentoDetalheReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/AgendamentoDetalheResp' } } } }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/agendamentos/detalhe-rico:
    post:
      tags: [Interno (fluxo)]
      summary: "Detalhe rico de 1 agendamento (endereço, documentos, órgão, idAssistido) — proxy GET api/agendamento/{idEvento} do gateway (issue #111)"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/AgendamentoDetalheRicoReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/AgendamentoDetalheRicoResp' } } } }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/agendamentos/vagas:
    post:
      tags: [Interno (fluxo)]
      summary: "Vagas disponíveis pra reagendar — proxy GET api/agendamento/vagas/{idEvento} do gateway"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/AgendamentoVagasReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/AgendamentoVagasResp' } } } }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/agendamentos/vaga-detalhe:
    post:
      tags: [Interno (fluxo)]
      summary: Resolve a vaga escolhida do JSON que /vagas já retornou (índice, zero re-fetch)
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/AgendamentoVagaDetalheReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/AgendamentoVagaDetalheResp' } } } }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/agendamentos/reagendar:
    post:
      tags: [Interno (fluxo)]
      summary: "Reagenda um agendamento — proxy POST api/agendamento/reagendar do gateway"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/AgendamentoReagendarReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/AgendamentoReagendarResp' } } } }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/agendamentos/desmarcar:
    post:
      tags: [Interno (fluxo)]
      summary: "Desmarca um agendamento — proxy POST api/agendamento/desmarcar do gateway (ação irreversível, dispara e-mail real)"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/AgendamentoDesmarcarReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/AgendamentoDesmarcarResp' } } } }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/agendamentos/verificar-duplicados:
    post:
      tags: [Interno (fluxo)]
      summary: "Checa agendamento duplicado do mesmo assunto — proxy GET api/agendamento/verificar-duplicados do gateway"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/VerificarDuplicadosReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/VerificarDuplicadosResp' } } } }
  /api/agendamentos/agendar:
    post:
      tags: [Interno (fluxo)]
      summary: "Cria agendamento novo (primeiro atendimento, com hora marcada) — proxy POST api/agendamento/agendar do gateway"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/AgendarReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/AgendarResp' } } } }
  /api/orgao/primeiro-atendimento:
    post:
      tags: [Interno (fluxo)]
      summary: "Consulta o órgão responsável pelo primeiro atendimento — decide agendamento (hora) vs encaminhamento (sem hora) via tipo_atendimento"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/OrgaoPrimeiroAtendimentoReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/OrgaoPrimeiroAtendimentoResp' } } } }
  /api/bloqueio/verificar:
    post:
      tags: [Interno (fluxo)]
      summary: "Checa bloqueio ativo (carência) de idPessoa/idAssunto/idOrgao antes de agendar/encaminhar — proxy GET api/bloqueio do gateway"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/BloqueioVerificarReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/BloqueioVerificarResp' } } } }
  /api/encaminhamento/encaminhar:
    post:
      tags: [Interno (fluxo)]
      summary: "Cria encaminhamento (primeiro atendimento sem hora marcada) — proxy POST api/encaminhamento/encaminhar do gateway"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/EncaminharReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/EncaminharResp' } } } }
  /api/assunto/consultar-item-arvore:
    post:
      tags: [Interno (fluxo)]
      summary: "Navega 1 nível da árvore de assuntos do Verde (idCategoria na 1ª chamada, idItemCategoria nas seguintes) — proxy GET api/assunto/consultar-item-arvore do gateway"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/ConsultarItemArvoreReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/ConsultarItemArvoreResp' } } } }
  /api/assunto/resolver-escolha:
    post:
      tags: [Interno (fluxo)]
      summary: "Resolve o número escolhido pro id da resposta da árvore — zero chamada nova ao Verde"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/ResolverEscolhaReq' } } } }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/ResolverEscolhaResp' } } } }
  /api/assunto/metadados:
    get:
      tags: [Interno (fluxo)]
      summary: "Urgência e documentos necessários do assunto (idAssunto já identificado) — proxy GET api/assunto/{idAssunto} do gateway"
      security: []
      parameters:
        - name: idAssunto
          in: query
          required: true
          schema: { type: integer }
      responses:
        "200": { content: { application/json: { schema: { $ref: '#/components/schemas/AssuntoMetadadosResp' } } } }
  /api/processos/consultar:
    post:
      tags: [Interno (fluxo)]
      summary: Processos do assistido no PDPJ (por CPF)
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/ProcessosConsultaReq' } } } }
      responses: { "200": { content: { application/json: { schema: { $ref: '#/components/schemas/ProcessosConsultaResp' } } } } }
  /api/processos/resumo:
    post:
      tags: [Interno (fluxo)]
      summary: Resumo do status de um processo (IA, linguagem simples)
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/ResumoReq' } } } }
      responses: { "200": { content: { application/json: { schema: { $ref: '#/components/schemas/ResumoResp' } } } } }
  /api/processos/existe:
    post:
      tags: [Interno (fluxo)]
      summary: "Checa (booleano) se um número de processo existe no PDPJ — usado pro gate de elegibilidade confirmar processo autodeclarado (card #20260202)"
      security: []
      requestBody: { content: { application/json: { schema: { $ref: '#/components/schemas/ProcessoExisteReq' } } } }
      responses: { "200": { content: { application/json: { schema: { $ref: '#/components/schemas/ProcessoExisteResp' } } } } }
  /api/pessoa-presa/consultar-rg:
    get:
      tags: [Interno (fluxo)]
      summary: "Dados do apenado por RG (\"API fake\" — SEAP/apenado real ainda não existe)"
      security: []
      parameters:
        - { in: query, name: rg, required: true, schema: { type: string }, description: "somente dígitos" }
      responses:
        "200":
          description: Resposta FLAT (sem aninhar em "dados") — bate com {{dados_apenado.*}} do fluxo
          content: { application/json: { schema: { $ref: '#/components/schemas/PessoaPresaConsultaResp' } } }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/pessoa-presa/consultar-processo:
    get:
      tags: [Interno (fluxo)]
      summary: "Origem + id do processo por número (\"API fake\")"
      security: []
      parameters:
        - { in: query, name: numero, required: true, schema: { type: string }, description: "somente dígitos" }
      responses:
        "200":
          description: "{ encontrado, numero, origem, idProcesso }"
          content: { application/json: { schema: { $ref: '#/components/schemas/PessoaPresaProcessoResp' } } }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/pessoa-presa/casos:
    get:
      tags: [Interno (fluxo)]
      summary: "Casos abertos da pessoa presa (\"API fake\")"
      security: []
      parameters:
        - { in: query, name: idPessoaPresa, required: true, schema: { type: string }, description: "dados_apenado.idPessoa" }
      responses:
        "200":
          description: "status = \"ABERTO\" (literal) quando há caso aberto — cond_status_caso compara isso"
          content: { application/json: { schema: { $ref: '#/components/schemas/PessoaPresaCasosResp' } } }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/pessoa-presa/orgao-responsavel:
    get:
      tags: [Interno (fluxo)]
      summary: "Órgão responsável pelo réu PRESO (\"API fake\")"
      security: []
      parameters:
        - { in: query, name: idSeap, required: true, schema: { type: string }, description: "dados_apenado.idSeap" }
        - { in: query, name: preferencia, schema: { type: string }, description: "preferência de atendimento (remoto/presencial) — ainda não usada pra escolher órgão" }
      responses:
        "200":
          description: "status = \"encontrado\" (literal) quando há órgão vinculado — cond_tem_orgao compara isso"
          content: { application/json: { schema: { $ref: '#/components/schemas/PessoaPresaOrgaoResp' } } }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/pessoa-presa/orgao-responsavel-liberto:
    get:
      tags: [Interno (fluxo)]
      summary: "Órgão responsável pelo réu LIBERTO (\"API fake\")"
      security: []
      parameters:
        - { in: query, name: idSeap, required: true, schema: { type: string }, description: "dados_apenado.idSeap" }
      responses:
        "200":
          description: "status = \"encontrado\" (literal) quando há órgão vinculado — cond_tem_orgao compara isso"
          content: { application/json: { schema: { $ref: '#/components/schemas/PessoaPresaOrgaoResp' } } }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/plantao/vigente:
    get:
      tags: [Interno (fluxo)]
      summary: "Plantão vigente não-municipal (\"API fake\") — fluxo reutilizável Plantão"
      security: []
      responses:
        "200":
          description: "status = \"encontrado\" (literal) quando há plantão ativo com tipo != MUNICIPAL"
          content: { application/json: { schema: { $ref: '#/components/schemas/PlantaoOrgaoResp' } } }
        "503": { description: banco não configurado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/recesso/vigente:
    get:
      tags: [Interno (fluxo)]
      summary: "Recesso forense vigente — proxy GET api/recesso/vigente do gateway — fluxo reutilizável Recesso"
      security: []
      responses:
        "200":
          description: "status literal SEM_RECESSO_VIGENTE ou RECESSO_VIGENTE"
          content: { application/json: { schema: { $ref: '#/components/schemas/RecessoResp' } } }
  /api/ficha:
    post:
      tags: [Interno (fluxo)]
      summary: Gera imagem da ficha do assistido (S3, efêmera)
      security: []
      responses:
        "200": { description: "{ url }" }
        "500": { description: falha ao gerar a ficha (log do erro real fica só no servidor), content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/kyc/iniciar:
    post:
      tags: [Interno (fluxo)]
      summary: Inicia KYC (gera link)
      security: []
      responses:
        "200": { description: OK }
        "400": { description: cpf inválido, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/kyc/captura:
    post:
      tags: [Interno (fluxo)]
      summary: Recebe selfie e verifica identidade
      security: []
      responses:
        "200": { description: "{ confirmado, score }" }
        "400": { description: token inválido ou expirado, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /api/kyc/status:
    post:
      tags: [Interno (fluxo)]
      summary: Status do KYC
      security: []
      responses: { "200": { description: OK } }
  /api/upload-documento:
    post:
      tags: [Interno (fluxo)]
      summary: Upload de documento/comprovante pelo assistido (bucket privado) — avança a conversa
      description: >
        Sem JWT: autenticação é por posse do sessionId (thread_id da conversa).
        Magic bytes decidem o mimetype real (Content-Type declarado nunca é
        confiável) — jpeg/png/PDF até 10MB. Nunca retorna URL/key do S3 (LGPD).
      security: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required: [sessionId, file]
              properties:
                sessionId: { type: string, description: "sessionId/thread_id da conversa (web ou wa:<numero>)" }
                file: { type: string, format: binary, description: "jpeg/png/PDF, máx 10MB" }
      responses:
        "200": { description: "{ nome, tamanho, mimeType, messages } — conversa avançada" }
        "400": { description: "sessionId ou file ausente" }
        "404": { description: "sessionId inexistente ou conversa não ativa" }
        "413": { description: Arquivo grande demais }
        "415": { description: "Tipo de arquivo não aceito (magic bytes)" }
        "429": { description: Rate limit de uploads excedido }
        "503": { description: banco não configurado }
  /api/documentos/verificar:
    post:
      tags: [Interno (fluxo)]
      summary: Verifica documento de identidade por OCR (compara nome/CPF extraídos com o cadastro)
      description: >
        Busca o documento mais recente enviado nessa sessão (bucket privado —
        ver /api/upload-documento), roda OCR via Bedrock multimodal e compara
        nome/CPF extraídos com o que o assistido já digitou no cadastro
        (dadosColetados.nome/cpf da mesma sessão). Sem JWT: autenticação é por
        posse do sessionId. Nunca retorna nome/CPF extraído bruto (LGPD) — só
        os booleans de match.
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [sessionId]
              properties:
                sessionId: { type: string, description: "sessionId/thread_id da conversa (aceita também _sessao, mandado automaticamente pelo nó api)" }
                nome: { type: string, description: "nome já digitado no cadastro — mandado pelo nó api via camposCorpo; sem isso, cai pro snapshot em Postgres" }
                cpf: { type: string, description: "cpf já digitado no cadastro — mesmo racional do nome" }
      responses:
        "200": { description: "{ match, detalhes: { nome_ok, cpf_ok } }" }
        "400": { description: "sessionId ausente" }
        "404": { description: "nenhum documento encontrado para essa sessão no bucket" }
        "422": { description: "nome/cpf ainda não coletados nesta sessão" }
        "500": { description: "falha ao processar o documento (OCR/Bedrock)", content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }

  # ── Mock (teste) ───────────────────────────────────────────
  /mock/verificar-cpf:
    post:
      tags: [Mock]
      security: []
      summary: Mock consulta CPF
      responses:
        "200": { description: OK }
        "400": { description: cpf obrigatório, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /mock/cadastrar-usuario:
    post:
      tags: [Mock]
      security: []
      summary: Mock cadastro
      responses:
        "200": { description: OK }
        "400": { description: campos obrigatórios faltando, content: { application/json: { schema: { $ref: '#/components/schemas/Erro' } } } }
  /mock/kyc:
    post: { tags: [Mock], security: [], summary: Mock reconhecimento facial, responses: { "200": { description: OK } } }
  /mock/agendamento:
    post: { tags: [Mock], security: [], summary: Mock agendamento, responses: { "200": { description: OK } } }
  /mock/processos:
    post: { tags: [Mock], security: [], summary: Mock processos por CPF (legado), responses: { "200": { description: OK } } }

  # ── Infra ──────────────────────────────────────────────────
  /health:
    get:
      tags: [Infra]
      summary: Healthcheck (db + token WhatsApp)
      security: []
      responses:
        "200": { description: "{ ok, db, whatsappToken }" }
        "503": { description: Degradado }
